body{
    font-family: "Barlow Semi Condensed", sans-serif;
    padding-top: 120px;
}


.contener{
    display: grid;
    padding-block: 2rem;
    width: min(95%, 1200px);
    margin-inline: auto;
    gap: 24px;
}

@media(min-width: 800px){  
    .grid-col-span2{
    grid-column: span 2;
    }
    .contener{
    grid-template-columns: repeat(4, 1fr);
    }
    .contener :last-child{
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: span 2;
     }
}
.testomonial{
    padding: 32px;
    border-radius: 8px;
    font-size: var(--fs-400);
    box-shadow: 40px 60px 48px -48px (var(--clr-secondary-400) / 0.25);
    color: white;
    
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

.da-bg-grid{
    background-color: #68479d;
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
}
.jo-bg-grid{
    background-color: #484f59;
}
.je-bg-grid{
    background-color: #eeeaea;
    color: black;
}
.pa-bg-grid{
    background-color: #191d24;
}
.ki-bg-grid{
    background-color: #eeeaea;
    color: black;
}
.contener img{
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.name {
    font-size: 13px;
    font-weight:500;
    line-height: 1;
  }
  
.position {
    font-size:11px;
    opacity: 0.5;
  }
  
  .Quto{
    font-size: 20px;
    line-height: 26px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    margin-bottom: 29px;
    margin-top: 13px;
  }
  
  .testomonial > p:last-of-type {
    opacity: 0.7;
  }
  .info{
    font-size: 13px;
  }
 .flex{
    display: flex;
    gap: var(--gap, 16px)
 }